<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title1 %><br />
    <%= f.text_field :title1 %>
  </div>
  <div class="field">
    <%= f.label :title2 %><br />
    <%= f.text_field :title2 %>
  </div>
  <div class="field">
    <%= f.label :title3 %><br />
    <%= f.text_field :title3 %>
  </div>
  <div class="field">
    <%= f.label :title4 %><br />
    <%= f.text_field :title4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
